/* About */
.about {
  @include flex(center, center, row);
}

.personal-info {
  @include flex(center, flex-start, column);
  & .personal {
    @include flex(left, left, column);
  }
}

.personal-info img {
  width: 100%;
  height: auto;

  &.my-photo {
    align-self: center;
    margin-top: 1rem;
    border-radius: var(--border-radius);
  }
}

.about-me {
  margin: 0.5rem 0;
  & .file.scnd-button {
    margin-top: 0;
  }
}

.title {
  margin: 1.5rem 0;
}

.resume {
  margin: 3rem 0;
}

.resume-section {
  position: relative;

  & h2 {
    padding: 1rem 0;
  }
}

.resume-content {
  padding: 1rem 0;
  position: relative;

  &.experience {
    &::before {
      content: "";
      position: absolute;
      top: 1rem;
      bottom: 15%;
      left: 2.0625rem;
      width: 2px;
      background-color: #c8c8c8c4;
      z-index: -1;
    }
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  .resume-content {
    &.experience {
      &::before {
        left: 2.40625rem;
      }
    }
  }

  .resume-item {
    display: flex;

    & img {
      width: 4.8125rem;
      margin-right: 2rem;
    }
  }
}

@media screen and (min-width: 500px) {
  .personal-info img {
    &.my-photo {
      align-self: center;
      margin-top: 1rem;
      width: 22rem;
    }
  }
}

@media screen and (min-width: 960px) {
  .personal-info {
    & .personal {
      @include flex(center, center, row);
    }
  }

  .personal-info img {
    &.my-photo {
      margin-right: 2.5rem;
      align-self: baseline;
      margin-top: 1.5rem;
    }
  }
}
/* Desktop */
@media screen and (min-width: 1300px) {
  .personal-info {
    max-width: 1000px;
  }
}
