/* About */
.about {
    margin: 0 1rem;
    @include flex(center, center, row);
}

.personal-info {
    @include flex(center, center, column);
}

.personal-info img {
    width: 10.25rem;
    height: auto;
    margin-bottom: 1rem;
}

.about-me {
    margin: 1.5rem 0;
}

.resume-section {
    align-self: flex-start;
    margin: 1rem 0;
    position: relative;
}

.experience-content {
    margin-top: 1.5rem;
}

.experience-item {
    display: flex;

    & img {
        width: 5rem;
        height: auto;
        margin-right: 1.5rem;
        border-radius: 50%;
        box-shadow: 0 0 0.25rem 2px rgba(200, 200, 200, 0.5);
    }

    & .date {
        color: rgba(6, 5, 17, 0.68);
        font-weight: 400;
    }

    & p {
        margin-top: 0.5rem;
    }

    &.secondary-item {
        margin-top: 3rem;
    }
}

.education {
    padding: 0.5rem 0 1rem 0;
}

/* Tablet */
@media screen and (min-width: 600px) {
    .about {
        margin: 0 2rem;
    }
}

/* Large Desktop */
@media screen and (min-width: 1700px) {
    .about {

        & h1,
        .personal-info {
            margin: 0rem 3rem;
        }
    }
}