$yaj-ban-color: #ff3366;
$moviteca-color: #de2d12;
$mequeda: #2c66a0;
$cinepolis: #212e5c;
$ubook: #002b7a;

.project-thumbnail {
  width: 100%;
  text-align: center;
  & img {
    max-width: 100%;
    height: auto;
  }
}

.case-intro {
  margin-bottom: 3rem;
}
.case-intro a {
  margin-top: 1rem;
}

.brief {
  @include flex(space-between, flex-start, column);
  flex-wrap: wrap;
  margin: 1.25rem 0;

  & .column {
    margin: 0.5rem 0;

    & h4 + p,
    h4 + .tool {
      margin-top: 1rem;
    }
  }
}

.tools {
  margin-top: 1rem;
}

.tool {
  @include flex(flex-start, center, row);
  margin-bottom: 0.5rem;

  & img {
    margin-right: 0.5rem;
  }
}

.yaj-ban {
  & .subtitle {
    color: $yaj-ban-color;
  }
}

.moviteca {
  & .subtitle {
    color: $moviteca-color;
  }
}

.mequeda {
  & .subtitle {
    color: $mequeda;
  }
}

.cinepolis {
  & .subtitle {
    color: $cinepolis;
  }
}

.ubook {
  & .subtitle {
    color: $ubook;
  }
}

.case-content {
  padding: 3rem 0;

  & .subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  & .subtitle2 {
    padding: 2.5rem 0 1rem 0;
  }
  & .summary {
    padding: 0.5rem 0;

    & + p {
      padding-top: 0.5rem;
    }
  }

  & .design-image-container {
    padding: 1.5rem 0 2rem 0;

    &.last-item {
      padding-bottom: 0;
    }

    & h4 + p {
      margin-top: 1rem;
    }

    & + a {
      text-decoration: underline;
    }
  }

  & .underlined {
    text-decoration: underline;
  }

  & .bullet-list,
  .numbered-list {
    list-style: initial;
    padding-top: 1.5rem;
    padding-left: 1.1rem;

    & li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  & .numbered-list {
    list-style: decimal;
  }

  &.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    & .image-container {
      width: 100%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.columns-container {
  @include flex(space-around, center, row);
  flex-wrap: wrap;

  &.after-text {
    padding-top: 0.5rem;
  }

  &.reverse {
    & .description {
      order: 2;
    }
  }

  &.space-between {
    justify-content: space-between;
    align-items: baseline;
  }

  &.align-top {
    align-items: baseline;
  }

  &.text-left {
    @include flex(space-between, center, row);
    padding-top: 0.5rem;
    & h5,
    p {
      text-align: left;
    }
  }

  & .column {
    text-align: center;
    margin: 1.5rem 0;

    & h5 {
      margin: 0.5rem 0;
    }

    & h3 + p {
      margin-top: 1rem;
    }

    & h4 {
      @include font(6, $base-mobile, 1.125);
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: $black;
    }
    & .insight {
      @include font(2, $base-mobile, 1.375);
      font-weight: 500;
      text-align: left;
      margin-top: 0.5rem;
      & + p {
        text-align: left;
      }
    }
    & .testimonial {
      max-width: 32ch;
    }
    & .light-text {
      margin-top: 0.5rem;
      text-align: right;
      color: #595959;
      font-weight: 300;
    }

    &.half-width {
      & ul li,
      p {
        text-align: left;
      }
      & li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    & .image-container {
      @include flex(center, center, column);
      width: 100%;
      object-fit: contain;

      & img {
        max-width: 100%;
        height: auto;
      }

      & .illustration {
        max-width: 100%;
        max-height: 420px;
      }

      & video {
        padding: 0.5rem;
      }

      & .no-padding {
        padding: 0.5rem 0;
      }

      & a {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        font-weight: 300;
      }

      & .reduced-illustration {
        width: 15rem;
        height: auto;
      }

      & .reduced-image {
        width: 20rem;
        height: auto;
      }

      & .reduced-illustration-comment {
        height: 20rem;
        width: auto;
      }

      & .minus-margin-top {
        margin-top: -1rem;
      }
    }
  }

  & p + .column {
    margin-top: 2rem;
  }
}

.left-aligned {
  text-align: left;
}

.graph {
  @include flex(flex-start, center, column);
  align-items: flex-start;
  padding-top: 0.5rem;

  & .bar:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  & .bar {
    @include flex(flex-start, center, row);
  }
  & .bar-line {
    position: relative;
    min-width: 12rem;
    height: 1.5rem;
    border: 1.5px solid #ff3366;
    border-radius: 20px;
    margin-right: 1rem;

    & .bar-fill {
      position: absolute;
      border-radius: 20px;
      height: 100%;
      background: #ff3366;

      &.all-bar {
        width: 100%;
      }

      &.ninety-bar {
        width: 90%;
      }

      &.sixty-bar {
        width: 60%;
      }

      &.thirty-bar {
        width: 30%;
      }

      &.twenty-bar {
        width: 20%;
      }

      &.ten-bar {
        width: 10%;
      }
    }
  }
  & p {
    margin: 0;
  }
}

.btn-container {
  width: 100%;
  margin-top: 3rem;
  @include flex(center, center, column);
}
.file > h5 {
  @include font(2, $base-desktop, 1.5);
}

.file.ubook-button,
.file.mitalla-button,
.file.cinepolis-button {
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
}

.ubook-button {
  background: $ubook;
}

.mitalla-button {
  background: $mequeda;
}

.cinepolis-button {
  background: $cinepolis;
}

.file.scnd-button {
  text-decoration: underline;
  margin-top: 1rem;
}

/* Small Phone */
@media screen and (max-width: 340px) {
  .graph {
    & .bar-line {
      min-width: 8rem;
    }
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  .case-study {
    margin: 2rem auto;
  }

  .brief {
    @include flex(space-between, flex-start, row);
  }

  .project-thumbnail {
    & #moviteca-thumbnail {
      padding: 4rem;
    }
  }

  .columns-container {
    &.reverse {
      & .description {
        order: 0;
      }
    }
    & .column {
      &.width-15 {
        width: 17rem;
      }
      &.width-25 {
        width: 25rem;
      }
      &.width-100 {
        width: 100%;
        & .left-aligned {
          align-items: flex-start;
        }
        & .right-aligned {
          align-items: flex-end;
        }
      }
      & .image-container {
        &.margin-top {
          margin-top: 3rem;
        }
        &.moviteca-high-fi {
          max-width: 45%;
          height: auto;
          margin: auto;
        }

        & .big-screen {
          max-width: 254px;
          height: auto;
        }
      }

      &.illustration-container {
        width: 50%;
      }

      &.half-width {
        width: 47%;
        & ul li {
          text-align: left;
        }
        & li:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    & .reduced-image {
      width: 70%;
    }

    & p + .column {
      margin-top: 2rem;
    }
  }
}

.screen-desc {
  max-width: 254px;
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .case-study {
    width: 80%;
  }
  .case-content {
    &.full-width {
      & .image-container {
        width: 100%;
        & img {
          width: 100%;
          max-height: 100vh;
          object-fit: cover;
        }
      }
    }
    & .design-image-container {
      & p {
        width: 40%;
      }
      & .full-width-p {
        width: 100%;
        &.margin-top {
          margin-top: 1rem;
        }
      }
    }
  }

  .columns-container {
    & .column {
      & h4 {
        @include font(6, $base-desktop, 1.125);
      }
      & .insight {
        @include font(2, $base-desktop, 1.5);
      }
    }
  }
}
