.project-thumbnail{
    width: 100%;
    text-align: center;
    & img{
        width: 100%;
        height: auto;
    }
}

.case-intro a{
    margin-top: 1rem;
}

.brief{
    @include flex(space-between,flex-start,column);
    flex-wrap: wrap;
    margin: 1.25rem 0;

    & .column{
        margin: 0.5rem 0;

        & h4 + p, h4 + .tool{
            margin-top: 1rem;
        }
    }
}

.tools{
    margin-top: 1rem;
}

.tool{
    @include flex(flex-start,center,row);
    margin-bottom: 0.5rem;

    & img{
        margin-right: 0.5rem;
    }
}

.case-content{
    padding: 1.75rem 0;

    & .subtitle{
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ff3366;
        margin-bottom: 1rem;
    }

    & .summary{
        padding: 0.5rem 0;

        & + p{
            padding-top: 0.5rem;
        }
    }

    & .bullet-list{
        list-style: initial;
        padding-top: 1.5rem;
        margin-left: 1.1rem;

        & li:not(:last-child){
            margin-bottom: 1rem;
        }
    }

}

.columns-container{
    @include flex(space-around,center,row);
    flex-wrap: wrap;
    
    &.after-text{
        padding-top: 0.5rem;
    }

    &.text-left{
        @include flex(space-between,center,row);
        padding-top: 0.5rem;
        & h5, p{
            text-align: left;
        }
    }

    & .column{
        text-align: center;
        margin-top: 1.5rem;


        & h5{
            margin: 0.5rem 0;
        }

        & h4{
            @include font(6, $base-mobile, 1.125);
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        & .light-text{
            margin-top: 0.5rem;
            text-align: right;
            color: #757575;
            font-weight: 300;
        }


        & .image-container{
            width: 100%;
            object-fit: contain;
            & img{
                max-width: 100%;
                height: auto;
            }
        }
    }

    & p + .column{
        margin-top: 2rem;
    }
}

.graph{
    @include flex(flex-start,center,column);
    align-items: flex-start;
    padding-top: 0.5rem;

    & .bar:not(:last-child){
            margin-bottom: 0.75rem;
    }

    & .bar{
        @include flex(flex-start, center, row);
    }
    & .bar-line{
        position: relative;
        min-width: 12rem;
        height: 1.5rem;
        border: 1.5px solid #ff3366;
        border-radius: 20px;
        margin-right: 1rem;

        & .bar-fill{
            position: absolute;
            border-radius: 20px;
            height: 100%;
            background: #ff3366;

            &.all-bar{
                width: 100%;
            }

            &.ninety-bar{
                width: 90%;
            }

            &.sixty-bar{
                width: 60%;
            }

            &.thirty-bar{
                width: 30%;
            }

            &.twenty-bar{
                width: 20%;
            }

            &.ten-bar{
                width: 10%;
            }
        }
    }
    & p{
        margin: 0;
    }
}

/* Small Phone */
@media screen and (max-width: 340px){
    .graph{
        & .bar-line{
            min-width: 8rem;
        }
    }
}
/* Tablet */
@media screen and (min-width: 600px) {
    .case-study{
        max-width: 70ch;
        margin: 2rem auto;
    }

    .brief{
        @include flex(space-between,flex-start,row);
    }
  }

/* Desktop */
@media screen and (min-width: 1440px) {
    .case-study{
        max-width: 80ch;
    }

    .columns-container{
    
        & .column{
    
            & h4{
                @include font(6, $base-desktop, 1.125);
            }
        }
    }
  }