footer {
    padding: 1rem;
    margin-top: auto;
}

.footer-wrapper {
    margin: auto;
    @include flex(center, center, row);
}

@media screen and (max-width:360px) {
    footer .social-icon {
        margin-right: 0;
    }
}

/* Tablet */
@media screen and (min-width:600px) {
    footer {
        padding: 2rem 2rem 1rem 2rem;
    }
}