footer {
    padding: 1rem;
    margin-top: auto;
}

.footer-wrapper {
    margin: auto;
    @include flex(center, center, column);
    & .subtitle{
        font-size: var(--font-size-small-subtitle);
        font-weight: var(--font-weight-title);
        line-height: 1;
    }

    & ul{
        display: flex;
        & li {
            padding: 1rem 1rem;
            &::after{
                content: '';
                display: inherit;
                width: 90%;
                margin: 0 auto;
                border-bottom: 2px solid;
            }
          }
    }
}

/* Tablet */
@media screen and (min-width:600px) {
    footer {
        padding: 2rem 2rem 1rem 2rem;
    }
}