@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: $background;
    color: $black;
}

h1 {
    @include font(6, $base-mobile);
    font-weight: 600;
    letter-spacing: 0.5px;
}

h2 {
    @include font(5, $base-mobile);
    font-weight: 600;
    letter-spacing: 1px;
}

h3 {
    @include font(4, $base-mobile);
    font-weight: 500;
    letter-spacing: 0.5px;
}

h4 {
    @include font(3, $base-mobile);
    font-weight: 500;
    letter-spacing: 0.5px;
}

h5 {
    @include font(2, $base-mobile);
    font-weight: 500;
    letter-spacing: 0.5px;
}

li,
button,
label,
input,
a,
p {
    @include font(1, $base-mobile);
    font-weight: 400;
    max-width: 70ch;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(19, 18, 18);
}

section:not(.hero) {
    margin: 0 1rem;
}

/* Tablet */
@media screen and (min-width: 600px) {
    section:not(.hero) {
        margin: 0 2rem;
    }

    h1 {
        letter-spacing: 2px;
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {

    h1 {
        @include font(6, $base-desktop);
    }

    h2 {
        @include font(5, $base-desktop);
    }

    h3 {
        @include font(4, $base-desktop);
    }

    h4 {
        @include font(3, $base-desktop);
    }

    h5 {
        @include font(2, $base-desktop);
    }

    li,
    button,
    label,
    input,
    a,
    p {
        @include font(1, 1.125);
    }

    section:not(.hero) {
        margin: 0 5rem;
    }

}

/* Large Desktop */
@media screen and (min-width: 1700px) {
    section:not(.hero) {
        max-width: 1700px;
        margin: auto;
    }
}

/* Keyframes */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Preferences */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }

    .information {
        animation: none;
    }
}