@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: $h1;
    @include line-height($h1);
}

li,
button,
label,
input,
a,
p {
    font-size: $body;
    @include line-height($body);
}

h2 {
    font-size: $h2;
    @include line-height($h2);
}

h3 {
    font-size: $h3;
    @include line-height($h3);
}

h4 {
    font-size: $h4;
    @include line-height($h4);
}

h5 {
    font-size: $h5;
    @include line-height($h5);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 720px) {
    h1 {
        font-size: $desktop-h1;
        @include line-height($desktop-h1);
    }

    h2 {
        font-size: $desktop-h2;
        @include line-height($desktop-h2);
    }

    h3 {
        font-size: $desktop-h3;
        @include line-height($desktop-h3);
    }

    h4 {
        font-size: $desktop-h4;
        @include line-height($desktop-h4);
    }

    h5 {
        font-size: $desktop-h5;
        @include line-height($desktop-h5);
    }
}