/* Hero section */
.hero {
    min-height: 70vh;
    background: $black;
    @include flex(center, center, row);
}

.info-container {
    color: $background;
    margin: 0 1rem;

    & a {
        color: $background;
    }
}

.information {
    text-align: center;
}

.text {
    & h1 {
        letter-spacing: 0;
    }

    & h5 {
        font-weight: 300;
    }
}

.social {
    margin-top: 0.5rem;

    & ul {
        @include flex(center, center, row);
        gap: 0.5rem;
    }
}

.social-icon {
    padding: 0.5rem;

    & img {
        width: 2rem;
    }
}

#linkedin {
    width: 1.5rem;
}

.portfolio {
    margin: 2rem 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 1.5rem 0;
}

.project {

    & .thumbnail {
        cursor: pointer;
        min-height: 20rem;
        @include flex(center, center, row);
        border-radius: 10px;
        background: rgba(172, 49, 32, 0.2);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        transition: all 0.5s ease;

        &:hover {
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
        }
    }

    & .desc {
        margin-top: 1rem;

        & p {
            margin-top: 0.5rem;
        }
    }
}

/* Tablet */
@media screen and (min-width:600px) {
    .text {
        width: 70%;
        margin: auto;

        & h1 {
            letter-spacing: 2px;
        }
    }

    .social {
        & ul {
            gap: 1rem;
        }
    }

    .portfolio {
        margin: 2rem;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .info-container {
        margin: 0;
    }

    .portfolio {
        margin: 2rem 5rem;
    }
}


/* Desktop */
@media screen and (min-width: 1700px) {
    .projects-wrapper {
        max-width: 1700px;
        margin: auto 5rem;
    }
}