/* Hero section */
.hero {
  min-height: 60vh;
  @include flex(center, center, row);
}

.info-container {
  margin: 0 1rem;
}

.information {
  text-align: center;
}


.fadein {
  animation: fadein 1.5s backwards ease-in-out;
}

.text {
  & .big-text {
    @include font(6, $base-mobile, 1.125);
  }

  & .medium-text {
    padding: 1rem 0;
    margin: auto;
    font-weight: 400;
  }
}

.social {
  margin-top: 0.5rem;

  & ul {
    @include flex(center, center, row);
    gap: 0.5rem;
  }
}

.social-icon {
  padding: 0.5rem;

  & img {
    width: 2rem;
    height: auto;
  }
}

#Linkedin {
  width: 1.5rem;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.project {
  & .thumbnail {
    width: 100%;
    @include flex(center, center, row);
    border-radius: 0.5rem;
    background: rgba(172, 49, 32, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    & h3 {
      position: absolute;
    }

    & img {
      width: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    }
  }

  & .desc {
    margin-top: 1.5rem;

    & p {
      margin-top: 1rem;
    }
  }
}

/* Mobile */
@media screen and (max-width:450px) {
  .hero {
    min-height: 65vh;
  }

  .text h5 {
    width: 70%;
    margin: auto;
  }

  .portfolio {
    padding: 2rem 0;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {

  .social {
    & ul {
      gap: 1rem;
    }
  }

  .text {
    & .big-text {
      @include font(9, $base-mobile, 1.125);
    }

    & .medium-text {
      @include font(5, $base-desktop, 1.125);
      padding: 1.5rem 0;
    }
  }

  .social-icon.hero-icon {

    & img {
      width: 2.5rem;
    }

    & #Linkedin {
      width: 2rem;
    }
  }

  .portfolio {
    padding: 2rem 0;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .info-container {
    margin: 0;
  }

  .portfolio {
    padding: 2rem 0;
  }
}

/* Large Desktop */
@media screen and (min-width: 1700px) {
  .portfolio {

    & h2,
    .projects {
      margin: 1.5rem 3rem 0 3rem;
    }
  }
}