.blurry-load{
    filter: blur(9px);
}

.blur-out{
    animation: out 1s ease-out;
}

@keyframes out {
    0% {
      filter: blur(9px);
    }
  
    50% {
      filter: blur(3px);
    }
  
    100% {
      filter: blur(0px);
    }
  }