/* 1.250 - Major Third */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #141414;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
}

h1 {
  font-size: 3.05176rem;
  line-height: 3.43323rem;
  font-weight: 600;
}

h2 {
  font-size: 1.95312rem;
  line-height: 2.68555rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5625rem;
  line-height: 2.14844rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.71875rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

li,
button,
label,
input,
a,
p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  max-width: 70ch;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
  display: inline-block;
}

/* Tablet */
@media screen and (min-width: 600px) {
  body {
    margin: 0 2rem;
  }
  h1 {
    letter-spacing: 0.5px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.43323rem;
    line-height: 3.86238rem;
  }
  h2 {
    font-size: 2.19727rem;
    line-height: 3.02124rem;
  }
  h3 {
    font-size: 1.75781rem;
    line-height: 2.41699rem;
  }
  h4 {
    font-size: 1.40625rem;
    line-height: 1.93359rem;
  }
  h5 {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  li,
  button,
  label,
  input,
  a,
  p {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  body {
    margin: 0 5rem;
  }
}

/* Large Desktop */
@media screen and (min-width: 1700px) {
  body {
    max-width: 1700px;
    margin: auto;
  }
}

/* Keyframes */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Preferences */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
  .information {
    -webkit-animation: none;
            animation: none;
  }
}

nav {
  padding: 2rem 0rem;
  position: relative;
}

.night {
  background: #141414;
}

.nav-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  z-index: 1;
}

.logo-wrapper img {
  width: 3rem;
  height: auto;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.options li {
  padding: 0.5rem 1rem;
}

.options a::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.options a:hover::after {
  width: 90%;
}

.options .active::after {
  width: 90%;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .options {
    position: fixed;
    background: #141414;
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 100% -18%);
            clip-path: circle(100px at 100% -18%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    visibility: hidden;
  }
  .options li a {
    font-size: 1.5625rem;
    line-height: 2.14844rem;
    color: #ffffff;
  }
  .options.open {
    -webkit-clip-path: circle(1050px at 100% -8%);
            clip-path: circle(1050px at 100% -8%);
    visibility: visible;
  }
  .hamburguer {
    cursor: pointer;
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 2rem;
    height: 2rem;
  }
  .line {
    width: 2rem;
    height: 2px;
    background: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .line::before, .line::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2px;
    background: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .line::before {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .line::after {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  .line.white {
    background: #141414;
  }
  .line.white::before, .line.white::after {
    background: #141414;
  }
  /* Animation */
  .hamburguer.open .line {
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
    background: transparent;
  }
  .hamburguer.open .line::before {
    -webkit-transform: rotate(45deg) translate(1.5rem, -1.5rem);
            transform: rotate(45deg) translate(1.5rem, -1.5rem);
    background: #141414;
  }
  .hamburguer.open .line::after {
    -webkit-transform: rotate(-45deg) translate(1.5rem, 1.5rem);
            transform: rotate(-45deg) translate(1.5rem, 1.5rem);
    background: #141414;
  }
  .hamburguer.open .line.white::before {
    -webkit-transform: rotate(45deg) translate(1.5rem, -1.5rem);
            transform: rotate(45deg) translate(1.5rem, -1.5rem);
    background: #ffffff;
  }
  .hamburguer.open .line.white::after {
    -webkit-transform: rotate(-45deg) translate(1.5rem, 1.5rem);
            transform: rotate(-45deg) translate(1.5rem, 1.5rem);
    background: #ffffff;
  }
  body.open {
    overflow: hidden;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  .night a {
    color: #ffffff;
  }
  .hamburguer {
    display: none;
  }
}

/* Large Desktop */
@media screen and (min-width: 1440px) {
  .nav-wrapper {
    max-width: 1700px;
  }
  .options li a {
    font-size: 1.125rem;
    line-height: 1.575rem;
  }
}

/* Hero section */
.hero {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fadein {
  -webkit-animation: fadein 1.5s backwards ease-in-out;
          animation: fadein 1.5s backwards ease-in-out;
}

.text .big-text {
  font-size: 3.05176rem;
  line-height: 3.43323rem;
}

.text .medium-text {
  font-size: 1.25rem;
  line-height: 1.71875rem;
  padding: 1rem 0;
  font-weight: 400;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social-icon {
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.social-icon img {
  width: 2rem;
  height: auto;
}

#Linkedin {
  width: 1.5rem;
  height: auto;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2.5rem 2rem;
  margin-top: 2rem;
}

.project .thumbnail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.project .thumbnail h3 {
  position: absolute;
}

.project .thumbnail img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.project .desc {
  margin-top: 1.5rem;
}

.project .desc p {
  margin-top: 0.5rem;
}

/* Mobile */
@media screen and (max-width: 450px) {
  .text h5 {
    width: 70%;
    margin: auto;
  }
  .portfolio {
    padding: 2rem 0;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  .social-icon {
    margin-right: 1rem;
  }
  .text .big-text {
    font-size: 3.8147rem;
    line-height: 4.29153rem;
  }
  .text .medium-text {
    font-size: 1.5625rem;
    line-height: 2.14844rem;
    width: 80%;
    padding: 1.5rem 0;
  }
  .portfolio {
    padding: 2rem 0;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .text .medium-text {
    width: 60%;
  }
  .portfolio {
    padding: 2rem 0;
  }
}

/* About */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-info img {
  width: 10.25rem;
  height: auto;
}

.personal-info img.my-photo {
  margin-top: 1rem;
}

.about-me {
  margin: 0.5rem 0;
}

.title {
  margin: 1.5rem 0;
}

.resume {
  margin: 2rem 0;
}

.resume-section {
  position: relative;
}

.resume-section h2 {
  padding: 1rem 0;
}

.resume-content {
  padding: 1rem 0;
  position: relative;
}

.resume-content.experience::before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 35%;
  left: 2.0625rem;
  width: 2px;
  background-color: #c8c8c8c4;
  z-index: -1;
}

.resume-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume-item img {
  width: 4.125rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.25rem 1px #c8c8c8c4;
          box-shadow: 0 0 0.25rem 1px #c8c8c8c4;
}

.resume-item .date {
  color: #060511ad;
  font-weight: 400;
  margin-top: 0.25rem;
}

.resume-item p {
  margin-top: 1rem;
}

.resume-item.secondary-item {
  margin-top: 3.5rem;
}

.education {
  padding: 1rem 0 0.5rem 0;
}

/* Tablet */
@media screen and (min-width: 600px) {
  .resume-content.experience::before {
    left: 2.40625rem;
  }
  .resume-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .resume-item img {
    width: 4.8125rem;
    margin-right: 2rem;
  }
}

.project-thumbnail {
  width: 100%;
  text-align: center;
}

.project-thumbnail img {
  width: 100%;
  height: auto;
}

.case-intro a {
  margin-top: 1rem;
}

.brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.25rem 0;
}

.brief .column {
  margin: 0.5rem 0;
}

.brief .column h4 + p, .brief .column h4 + .tool {
  margin-top: 1rem;
}

.tools {
  margin-top: 1rem;
}

.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.5rem;
}

.tool img {
  margin-right: 0.5rem;
}

.case-content {
  padding: 1.75rem 0;
}

.case-content .subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ff3366;
  margin-bottom: 1rem;
}

.case-content .summary {
  padding: 0.5rem 0;
}

.case-content .summary + p {
  padding-top: 0.5rem;
}

.case-content .design-image-container {
  padding: 1.5rem 0 2rem 0;
}

.case-content .design-image-container.last-item {
  padding-bottom: 0;
}

.case-content .design-image-container h4 + p {
  margin-top: 0.5rem;
}

.case-content .design-image-container + a {
  text-decoration: underline;
}

.case-content .bullet-list, .case-content .numbered-list {
  list-style: initial;
  padding-top: 1.5rem;
  margin-left: 1.1rem;
}

.case-content .bullet-list li:not(:last-child), .case-content .numbered-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.case-content .numbered-list {
  list-style: decimal;
}

.columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns-container.after-text {
  padding-top: 0.5rem;
}

.columns-container.text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.5rem;
}

.columns-container.text-left h5, .columns-container.text-left p {
  text-align: left;
}

.columns-container .column {
  text-align: center;
  margin-top: 1.5rem;
}

.columns-container .column h5 {
  margin: 0.5rem 0;
}

.columns-container .column h4 {
  font-size: 3.05176rem;
  line-height: 3.43323rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.columns-container .column .light-text {
  margin-top: 0.5rem;
  text-align: right;
  color: #757575;
  font-weight: 300;
}

.columns-container .column .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.columns-container .column .image-container img {
  max-width: 100%;
  height: auto;
}

.columns-container .column .image-container a {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
}

.columns-container p + .column {
  margin-top: 2rem;
}

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0.5rem;
}

.graph .bar:not(:last-child) {
  margin-bottom: 0.75rem;
}

.graph .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.graph .bar-line {
  position: relative;
  min-width: 12rem;
  height: 1.5rem;
  border: 1.5px solid #ff3366;
  border-radius: 20px;
  margin-right: 1rem;
}

.graph .bar-line .bar-fill {
  position: absolute;
  border-radius: 20px;
  height: 100%;
  background: #ff3366;
}

.graph .bar-line .bar-fill.all-bar {
  width: 100%;
}

.graph .bar-line .bar-fill.ninety-bar {
  width: 90%;
}

.graph .bar-line .bar-fill.sixty-bar {
  width: 60%;
}

.graph .bar-line .bar-fill.thirty-bar {
  width: 30%;
}

.graph .bar-line .bar-fill.twenty-bar {
  width: 20%;
}

.graph .bar-line .bar-fill.ten-bar {
  width: 10%;
}

.graph p {
  margin: 0;
}

/* Small Phone */
@media screen and (max-width: 340px) {
  .graph .bar-line {
    min-width: 8rem;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  .case-study {
    max-width: 70ch;
    margin: 2rem auto;
  }
  .brief {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .case-study {
    max-width: 80ch;
  }
  .columns-container .column h4 {
    font-size: 3.43323rem;
    line-height: 3.86238rem;
  }
}

footer {
  padding: 1rem;
  margin-top: auto;
}

.footer-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 360px) {
  footer .social-icon {
    margin-right: 0;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  footer {
    padding: 2rem 2rem 1rem 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */