//Variables
$base-mobile: 1; //16px
$base-desktop: 1.125; //18px;
$ratio: 1.333;

:root{
  //colors
  --background: #0d1117;
  --gray: #c2c2c2;
  --white: #e5e0e2;
  //border
  --border-radius: 1rem;
  //typography
  --font-family-title: "Playfair Display", serif;
  --font-weight-title: 600;
  --font-family-text: muli, sans-serif;;
  --font-weight-text: 400;
  --font-weight-text-semibold: 600;
  --font-weight-text-bold: 600;
  //sizes
  --font-size-small-subtitle: 1.25rem;
  --font-size-caption: 0.875rem;
  --lightense-backdrop: blue;


}

//Font style
/* 1.250 - Major Third */
@mixin font($value, $ms-base, $line-height, $ms-ratio: $ratio) {
  $size: pow($ms-ratio, $value) * $ms-base;
  font-size: #{$size + "rem"};
  line-height: #{$size * $line-height + "rem"};
}

//Pow function
@function pow($n, $e) {
  $value: 1;

  @if $e>0 {
    @for $i from 1 to $e {
      $value: $value * $n;
    }
  }

  @return $value;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@media screen and (max-width: 600px) {
  :root {
   /* Change base variable used for element variable */
   --border-radius: 0.5rem;
   --font-size-small-subtitle: 1rem;
 }
}

@import "global";

@import "nav";

@import "home";

@import "about";

@import "casestudy";

@import "footer";
