/* 1.250 - Major Third */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #FAFAFA;
  color: #060511;
}

h1 {
  font-size: 3.05176rem;
  line-height: 3.96729rem;
  font-weight: 600;
  letter-spacing: 2px;
}

h2 {
  font-size: 2.44141rem;
  line-height: 3.17383rem;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.95312rem;
  line-height: 2.53906rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.5625rem;
  line-height: 2.03125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

li,
button,
label,
input,
a,
p {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #131212;
}

/* Tablet */
/* Desktop */
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.43323rem;
    line-height: 4.4632rem;
  }
  h2 {
    font-size: 2.74658rem;
    line-height: 3.57056rem;
  }
  h3 {
    font-size: 2.19727rem;
    line-height: 2.85645rem;
  }
  h4 {
    font-size: 1.75781rem;
    line-height: 2.28516rem;
  }
  h5 {
    font-size: 1.40625rem;
    line-height: 1.82812rem;
  }
  li,
  button,
  label,
  input,
  a,
  p {
    font-size: 1.125rem;
    line-height: 1.4625rem;
  }
}

/* Preferences */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

nav {
  padding: 1rem;
  position: relative;
}

.night {
  background: #060511;
}

.night a {
  color: #060511;
}

.nav-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  z-index: 1;
}

.logo-wrapper img {
  width: 3rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.options li {
  padding: 0.5rem 1rem;
}

.options a::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.options a:hover::after {
  width: 90%;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .options {
    position: fixed;
    background: #FAFAFA;
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 100% -18%);
            clip-path: circle(100px at 100% -18%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .options li a {
    font-size: 1.5625rem;
    line-height: 2.03125rem;
  }
  .options.open {
    -webkit-clip-path: circle(1050px at 100% -18%);
            clip-path: circle(1050px at 100% -18%);
  }
  .hamburguer {
    cursor: pointer;
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 2rem;
    height: 2rem;
  }
  .line {
    width: 2rem;
    height: 2px;
    background: #FAFAFA;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .line::before,
  .line::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2px;
    background: #FAFAFA;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .line::before {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .line::after {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  /* Animation */
  .hamburguer.open .line {
    -webkit-transform: translate(2rem);
            transform: translate(2rem);
  }
  .hamburguer.open .line::before {
    -webkit-transform: rotate(45deg) translate(-1.5rem, 1.5rem);
            transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background: #060511;
  }
  .hamburguer.open .line::after {
    -webkit-transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
            transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background: #060511;
  }
  body.open {
    overflow: hidden;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  nav {
    padding: 2rem;
  }
  .night a {
    color: #FAFAFA;
  }
  .hamburguer {
    display: none;
  }
  .options li a {
    font-size: 1.125rem;
    line-height: 1.4625rem;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .nav-wrapper {
    max-width: 1700px;
  }
}

/* Hero section */
.hero {
  min-height: 70vh;
  background: #060511;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-container {
  color: #FAFAFA;
  margin: 0 1rem;
}

.info-container a {
  color: #FAFAFA;
}

.information {
  text-align: center;
  -webkit-animation: fadein 1.5s 0.3s backwards ease-in-out;
          animation: fadein 1.5s 0.3s backwards ease-in-out;
}

.text h1 {
  letter-spacing: 0;
}

.text h5 {
  font-weight: 300;
}

.social {
  margin-top: 0.5rem;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}

.social-icon {
  padding: 0.5rem;
}

.social-icon img {
  width: 2rem;
}

#linkedin {
  width: 1.5rem;
}

.portfolio {
  margin: 2rem 1rem;
  -webkit-animation: fadein 1.5s 0.3s backwards ease-in-out;
          animation: fadein 1.5s 0.3s backwards ease-in-out;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin: 1.5rem 0;
}

.project .thumbnail {
  cursor: pointer;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 10px;
  background: rgba(172, 49, 32, 0.2);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project .thumbnail:hover {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.project .desc {
  margin-top: 1rem;
}

.project .desc p {
  margin-top: 0.5rem;
}

/* Keyframes */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Tablet */
@media screen and (min-width: 600px) {
  .text {
    width: 70%;
    margin: auto;
  }
  .text h1 {
    letter-spacing: 2px;
  }
  .social ul {
    gap: 1rem;
  }
  .portfolio {
    margin: 2rem;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .info-container {
    margin: 0;
  }
  .portfolio {
    margin: 2rem 5rem;
  }
}

/* Desktop */
@media screen and (min-width: 1700px) {
  .projects-wrapper {
    max-width: 1700px;
    margin: auto 5rem;
  }
}

/* About */
/*# sourceMappingURL=styles.css.map */